@charset "UTF-8";

body{
    background-color: #358526;
   
  
   
}
section{
    background-image: url(gramado.jpg);
    background-repeat: no-repeat;
  margin: auto;
  margin-top: 10PX;
   background-size: cover;
   height: 150px;
   border-radius: 10px;
   padding: 10px;
  
   
  
}



   

div#fut1{
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    
    
}
div#fut1 p{
    text-align: center;
    
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: white;
    text-shadow: 1PX 1PX 1PX black;
    margin-top: 50px;
    margin-bottom: 50px;
}
select.pla{
    background-color: #0D2116 ;
    color: white;
    font-size: 0.4em;
    padding: 0px 1PX 0px 1px;
    border-radius: 5px;
}
div select#time3{
   width: 180px;
   
font-size: 0.6em;
   margin-top: 30px;
   margin: auto ;
   
    

}

P span{
    
   color: white;
   
   font-size: 0.5em;
}
p span.time{
    
    color: white;
   
}
input.tim{
    width: 8px;
    height: 9px;
    font-size: 0.6em;
    
    
    
}

input.button{
    padding: 5px;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.445);
    background-color: #358526;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin-left: 10vw;
    margin-top: 20px;
    

    
    
}
div#tt p{
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}